.profile__edit-button {
    margin-left: 17px;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer; 
    padding: 0;
}

.profile__edit-button:hover {
    opacity: 0.6;
    transition: opacity 0.5s;
}

@media screen and (max-width: 320px) {

    .profile__edit-button {
        margin-left: 1px;
    }
}